<!-- 
    Algoritmh: Página sobre o site
    Author: Lucas Mateus
    Created at: 22/03/2023
    Updated at: 24/03/2023
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/about.css">
    <title> Cadastro - Comum </title>
</head>
<body>
    <main id="main-content">
        <header>
            <nav>
                <h2> SOBRE </h2>
                <p> sla bixo, é só um aprendizado com ExpressJS</p>
                <br>
                <ul>
                    <li><a href="/"> Voltar para o home </a></li>
                    <li><a href="/geral/github"> Meu github </a></li>
                    <li><a href="/geral/memes"> Veja o Relâmpago Marquinhos ultra 4k </a></li>
                </ul>
                <br>
                <div>
                    <img width="auto" height="300px" src="https://i.ytimg.com/vi/Ku3I9aemw9I/maxresdefault.jpg" alt="sus?">
                </div>
            </nav>
        </header>
    </main>
</body>
</html>