<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/memes.css">
    <title> Cadastro - Comum </title>
</head>
<body>
    <main id="main-content">
        <header>
            <h2> RELÂMPAGO MARQUINHOS ULTRA HD FULL 32K </h2>
            <ul>
                <li><a href="/"> Voltar para o home </a></li>
                <li><a href="/geral/about"> Sobre esse site </a></li>
                <li><a href="/geral/github"> Meu github </a></li>
            </ul>
        </header>
        <br>
        <section>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCMNCuOYc6BkX_HCqQ7NNfDI-kiKi-onV-Xe_sVG2cSUWGvJledu8MJKyyWcr-77V_BcY&usqp=CAU" alt="relampago marquinhos">
            </div>
        </section>
    </main>
</body>
</html>