<html>
<head><title>Formulário</title>
  </head>
  <body>
    <form action="/form" method="POST"/>
    Nome:<input type="text" name="nome"/><br/>
    Idade:<input type="text" name="idade"/><br/>
    Endereço:<input type="text" name="endereco"/><br/>
    <input type="submit" value="Enviar Formulário"/>
    </form>
    </body>
    </html>
