<html>
  <head>
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="estilo.css"/>
  </head>
  <body>
    <% if(locals.usuario){ %>
      <p>Seja bem vindo(a) <%= usuario.usuario %> || <a href="/logout">Deslogar</a></p>
  <%  } %>
  <h1>Página Inicial</h1>
  <a href="/">Página Inicial</a>
  <br>
  <% if(locals.usuario){ %>
  <a href="/cadastrarAdm">Cadastro Novo Adm</a><br/>
  <%  }else{ %>
  <a href="/login">Logar</a><br/>
  <%  } %>
  <a href="/sobre">Sobre</a><br/>
  <a href="/exibeForm">Cadastrar</a><br/>
  <a href="/buscar">Buscar</a><br/>
  <img src="lobo.jpg"/>
  </body>
</html>
