<html>
<head>
  <title>Exibe os dados do Formulário</title>
</head>
<body>
<h1>Dados Gravados com Sucesso!</h1>
<br>
<b>Dados Gravados:
</b><br/>
Nome: <%= info.nome %>
<br/>
Idade: <%= info.idade %>
<br/>
Endereço: <%= info.endereco %><br/>
<br>
<a href="/">Página Inicial</a>
</body>
</html>
