<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/github.css">
    <title> Testando index </title>
</head>
<body>
    <main>
        <nav>
            <h2> MEU GITHUB </h2>
            <ul>
                <li><a href="/"> Voltar para o home </a></li>
                <li><a href="/geral/about"> Sobre esse site </a></li>
                <li><a href="/geral/memes"> Veja o Relâmpago Marquinhos ultra 4k </a></li>
            </ul>
        </nav>
        <br>
        <section>
            <div id="div">
                <img id="img_transp" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaUeOgf1sXCvMxXIXvPxdfLV7muKpzs5YbAg&usqp=CAU" alt="Lumine indo de berço após roletar e perder o 50/50 pra Qiqi">
                <br>
                <img id="gif_chorao" src="https://media.tenor.com/OVQ2Dw13JxsAAAAM/chorando.gif" alt="gif do chorão">
            </div>
            <br>
            Acesse meu github <a href="https://github.com/LucasDiabloChan" target="_blank"> AHERE </a>.
        </section>

    </main>
</body>
</html>