<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <title> Home Page </title>
</head>
<body style="text-align: center;">
    <main>
        <header>
            <h2>HOME</h2>
        </header>
        <section>
            <p> Esta é uma humilde página inicial. Teste alguns links abaixo! </p>
            <br>
            <ul>
                <li><a href="/geral/about"> Sobre esse site </a></li>
                <li><a href="/geral/github"> Meu github </a></li>
                <li><a href="/geral/memes"> Veja o Relâmpago Marquinhos ultra 4k </a></li>
            </ul>
            <br>
            <p id="umm">
                <% if (1 != 1) { %>
                    <h4> OYAMERO ÉFIDEPE </h4>
                <% }else{ %>
                    <h4> miiimmmm dêi papai </h4>
                <% } %>
            </p> 
        </section>
    </main>
</body>
</html>