<html>
  <head>
    <title>Resultados da Busca</title>
  </head>
  <body>
    <h1>Resultados da Busca</h1>
    <br/>
    <form action="/buscarNome" method="POST">
      <input type="text" name="nomeBusca" placeholder="Digite o nome para buscar"/>
      <input type="submit" value="Buscar pelo Nome"/>
    </form>
    <table border="1">
      <tr>
        <td><b>Nome<b/></td>
        <td><b>Idade</b></td>
        <td><b>Endereço</b></td>

        <!-- TESTE -->
            <% for( let i = 0; i < 10; i++ ){ %>
                <td> 28 </td>
                <td> x </td>
                <td> <%= i %> </td>
            <% } %>
        <!-- DO PROF -->
          <% for(let i=0; i < resultado.length; i++){ %>
            <tr>
              <% var id=resultado[i].id %>
              <td><%= resultado[i].nome %> </td>
              <td><%= resultado[i].idade %></td>
              <td><%= resultado[i].endereco %></td>

            </tr>

          <% }%>
    </table>
    </body>
</html>